<!DOCTYPE html>
<html lang="en">
<head>
  <title>mdalmouiee</title>
  <link rel = "stylesheet" type = "text/css" href = "static/css/base.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
  <body background="static/img/clouds.jpg">
  {% block body %}
  {% endblock %}
</body>
<center>
  <footer>
    <p> copyright &copy;2017</p>
  </footer>
</center>
</html>
