<!DOCTYPE html>
<html lang="en">
<head>
  <title>mdalmouiee</title>
  <link rel = "stylesheet" type = "text/css" href = "static/css/base.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">mdalmouiee</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
  </div>
</nav>
<body background="static/img/lightblue.jpg">
  {% block body %}
  {% endblock %}
</body>
<center>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <p id="foot">copyright &copy;2017</p>
    </div>
  </nav>
</center>
</html>
