{% extends "base.html" %}
{% block body %}
  <center>
    <h1>Mohamed Daniel Al Mouiee</h1>
    <h3><i>Software/Biomedical Engineer</i></h3>
    <h3><i>DOB: 16/01/1997</i></h3>
    <h3><i>Email: d.almouiee@gmail.com</i></h3>
    <h3><i>Github: </i><a href="https://github.com/M-Almouie">M-Almouie</a></h3>
    <br>
    <br>
    <br>
    <img height="300" width="200" src="static/img/profilePic.png">
  </center>
  <h2>SUMMARY:</h2>
  <p>
    University student currently studying a double degree of Engineering at UNSW Australia
    (Masters of Biomedical Engineering/Bachelor of Software Engineering).Currently a tutor
    for Arabic of all levels as well as Secondary School Subjects (General Mathematics,
     Advanced/2-unit and Extension/3-unit Mathematics HSC level).
  </p>

  <h2>SKILLS:</h2>
  <ul>
    <li>Studied Classical and Modern Standard Arabic in Syria.</li>
    <li>C, Java, Python/Flask and Shell/Perl experienced programmer and experienced in Object Oriented Programming.</li>
    <li>Verification of Programs using verification tools (Dafny).</li>
    <li>Experience as group/team leader in Software development projects.</li>
    <li>Maple and Matlab intermediate programmer.</li>
    <li>Complex Analysis of program algorithms.</li>
    <li>Expert in Microsoft editing programs (Word, PowerPoint, Excel).</li>
  </ul>
  <h2>HIGHLIGHTS:</h2>
  <ul>
    <li>98.8 Syrian High School Certificate mark.</li>
    <li>94.5 ATAR.</li>
    <li>1st in Extension 2 Mathematics 2015.</li>
    <li>1st in Standard English 2015.</li>
    <li>Award of Academic Excellence in Arabic Continuers 2015.</li>
    <li>First Aid certificate 2015.</li>
    <li>Barista qualification certificate 2015.</li>
    <li>Food hygiene certificate 2015.</li>
  </ul>
  <h2>EXPERIENCE:</h2>
  <ul>
    <li>May 2017-Current:  Arabic/HSC mathematics tutor at Macarthur Community College - Sydney, Australia</li>
    <li>February 2017-May 2017: Arabic 2A and B tutor at Parramatta Community College - Sydney, Australia</li>
    <li>December 2015-Current:	HSC Mathematics (General, Advanced, Extension 1) and Arabic (all levels) tutor - Sydney, Australia</li>
    <li>January 2013-January 2015:	Almouiee Trading Company - Tartous, Syria</li>
    Employee at ATC as electronics assistant dealing with customer service, stocking and delivering goods to consumers and customers.
  </ul>

  <h2>EDUCATION:</h2>
  <ul>
    <li>February 2016-Current: University of New South Wales Sydney, Australia<br>
  	Bachelor of Software Engineering/Master of Biomedical Engineering</li>
    Undergraduate degree at UNSW studying a double degree of Engineering (Biomedical, Software)
    <h3>Courses at UNSW</h3>
    First Year:
    <ul>
        <li>Higher Mathematics MATH1141</li>
        <li>Discrete Mathematics MATH1081</li>
        <li>Design and innovation in Engineering ENGG1000</li>
        <li>Computing 1A COMP1917</li>
        <li>Mathematics MATH1231</li>
        <li>Computing 2A COMP1927</li>
        <li>Engineering in Medicine and Biology BIOM1010</li>
        <li>Software Workshop SENG1031</li>
    </ul>
      Second Year:
    <ul>
        <li>Engineering Design in Computing COMP2911</li>
        <li>Software Workshop 2A SENG2011</li>
        <li>System Design and Modelling COMP2111</li>
        <li>Mircoeconomics 1 ECON1101</li>
        <li>Software Construction COMP2041</li>
        <li>Foundations of Concurrency COMP3151</li>
        <li>Probability and Statistics MATH2859</li>
        <li>Software Workshop 2B SENG2021</li>
        <li>Finite Mathematics MATH2400</li>
    </ul>
  	<li>January 2014-December 2015	Al-Sadiq College - HSC Education
    <ul>
      <li>HSC ATAR of 94.5</li>
      <li>Subjects completed:</li>
      <li>Standard English: Band 5</li>
      <li>Extension Mathematics 1: Band 6</li>
      <li>Extension Mathematics 2: Band 6</li>
      <li>Arabic Continuers: Band 6</li>
      <li>Extension Arabic: Band 5</li>
      <li>Chemistry: Band 6</li>
    </ul>
  </ul>
<p>
{% endblock %}
